section#settings {
  div.stats div.content {
    flex-direction: column;

    p {
      margin: 5px 0;
      font-size: 14px;

      span { color: rgba(#fff, .5) }

      b {
        margin-left: 10px;
      }
    }
  }

  div.cache div.content {
    button {
      margin-top: 0;
    }

    button#delete {
      background-color: $color-red;
      color: $color-dark;
    }

    button#backup {
      background-color: $color-green;
      color: $color-dark;
    }

    button#restore {
      background-color: $color-yellow;
      color: $color-dark;
    }
  }

  div.visual div.content {
    button.checked {
      background-color: $color-main;
      color: $color-dark;
    }
  }
}
