section#settings {
  div.stats div.content {
    flex-direction: column;

    p {
      margin: 5px 0;
      font-size: 14px;

      span { color: rgba(#fff, .5) }

      b {
        margin-left: 10px;
      }
    }
  }

  div.cache div.content {
    button {
      background-color: $color-red;
      color: $color-dark;
      margin-top: 0;
    }
  }
}
