section#settings {
  div.container {
    p {
      color: rgba(#fff, .4);
      margin-left: 10px;
      margin-top: 0;

      i { margin-right: 10px }
      span { color: rgba(#fff, .2) }
    }

    div.panel {
      button {
        background-color: rgba(#fff, .1);
      }

      button:not(.checked) {
        background-color: rgba(#fff, 0);
        color: rgba(#fff, .4) !important;
      }
    }

    &#groups-filter button.checked {
      pointer-events: all;
    }
  }
}
