.editorconfig
.unitignore
.gitignore
.nvmrc
.env

.vscode/
.husky/

discardedTests.txt
keploy-logs.txt
vite.config.ts
tsconfig.json
keploy.yml

/coverage/
/images/
/types/
/test/
/bin/
/src/

/**/*.tsbuildinfo
/lib/vite.config.*
/lib/**/*.spec.*
