module.exports = `
  <div class="settings">
    <div id="groups-filter" class="container">
      <p><i class="fas fa-filter"></i> Groups filter <span>(hides/shows expectations and history in GUI)</span></p>
      <div class="panel">
          <div class="buttons">
          <button id="all" class="{{#if groups.all.isEnabled}}checked{{/if}}">ALL</button>

          {{#each groups.segmented}}
            <button id="{{name}}" class="{{#if isEnabled}}checked{{/if}}" style="color: {{toColor name}};">{{name}}</button>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
`
