@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  5% {
    opacity: 1;
    transform: none;
  }
  95% {
    opacity: 1;
    transform: none;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

div.popups {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: +101;

  div.popup-message {
    display: flex;
    background-color: lighten($color-dark, 80);
    color: $color-dark;
    padding: 10px 15px;
    width: 240px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    margin-top: 5px;
    box-shadow: 0 5px 10px 10px rgba(#000, .1);
    animation: popup 3s ease-in-out forwards;

    &.error { background-color: $color-red }
    &.warning { background-color: $color-main }

    span { flex-basis: 90%; }

    i {
      font-size: 25px;
      margin-right: 10px;
      margin-left: 5px;
    }
  }
}
