module.exports = `
  <div class="popup-message {{level}}">
    {{#compare level 'eq' 'info'}}<i class="fas fa-check"></i>{{/compare}}
    {{#compare level 'eq' 'warning'}}<i class="fas fa-exclamation-triangle"></i>{{/compare}}
    {{#compare level 'eq' 'error'}}<i class="fas fa-times"></i>{{/compare}}

    <span>{{message}}</span>
  </div>
`
