section#history {
  div.actions {
    button {
      background-color: $color-main;
      color: $color-dark;
    }

    button#clear { background-color: $color-red }
  }

  p.separator {
    padding: 10px 20px;
  }
}
