export default `
  <div class="content">
    <div class="input size-M" title="Backup file"><input type="file" data-key="files"></div>
    <div class="input size-XS" title="TTL (seconds)"><input type="text" data-key="ttl" value="3600"></div>

    <button id="restore"><i class="fas fa-undo"></i>Restore</button>
  </div>
`
