export default `
  <div class="content">
    <div class="input size-L" title="prefix"><input type="text" data-key="prefix" value="*"></div>
    <button id="delete"><i class="fas fa-trash-alt"></i>Delete</button>
  </div>
`
