export default `
  <div class="search">
    <i class="fas fa-search"></i>
    <div class="input" title="{{title}}"><input data-key="search" type="text"></div>
    <button><i class="far fa-times-circle"></i></button>
  </div>
`
