export default `
  <div class="buttons">
    <button id="add-separator"><i class="fas fa-comment"></i>Add separator</button>
    <button id="delete-separators"><i class="fas fa-trash-alt"></i>Delete separators</button>
    <button id="clear"><i class="fas fa-trash-alt"></i>Clear list</button>
  </div>
`
