module.exports = `
  <section id="history">
    <div class="storage"></div>

    <div class="controls">
      <div class="main">
        <button class="icon-only" id="expand"><i class="fas fa-chevron-down"></i></button>
      </div>

      <div class="additional container hidden"></div>
    </div>

    <div class="content"></div>
  </section>
`
