.hidden {
  visibility: hidden;
  display: none !important;
}

.selected {
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: inherit;
    box-shadow: inset 0 0 0 3px #48d1cc;
  }
}
