body > header {
  display: flex;
  justify-content: center;
  position: relative;

  button {
    text-decoration: none;
    font-size: 14px;
    color: rgba(#fff, .5);
    vertical-align: top;

    i { margin-right: 10px }

    &.icon-only i {
      margin-right: 0;
      font-size: 16px;
    }

    &.checked {
      background-color: $color-main;
      color: $color-dark;
    }

    &:not(.checked) {
      color: rgba(#fff, .5);
      background-color: rgba(#fff, .05);
    }
  }

  hr {
    position: relative;
    width: 1px;
    height: 25px;
    border: none;
    background-color: #ddd;
    margin: 10px 10px;
  }

  div.buttons-container#container-select button {
    padding: 10px 20px;
  }
}
