@import 'constants';
@import '../../../../json-formatter/src/theme';

.json-formatter-custom.json-formatter-row {
  @include jsonFormatterTheme(
    $font-family: $font-family,
    $default-color: rgba(#fff, .2),
    $string-color: white,
    $number-color: adjust-hue($color-main, 80),
    $boolean-color: adjust-hue($color-main, 320),
    $null-color: #EEC97D,
    $undefined-color: rgb(239, 143, 190),
    $rotate-time: 100ms,
    $toggler-opacity: .2,
    $toggler-color: #fff,
    $bracket-color: rgba(#fff, .2),
    $key-color: adjust-hue($color-main, 180),
    $url-color: #027BFF
  );
}
