@import 'constants';
@import 'elements';
@import 'classes';

@import 'popups';
@import 'header';
@import 'loader';
@import 'json';

@import 'containers/expectations';
@import 'containers/settings';
@import 'containers/history';

div.container {
  padding: 0 20px;
  margin-top: 0;

  div.meta {
    display: flex;
    flex-wrap: wrap;
    border-radius: inherit;

    div.segment {
      display: inherit;
      flex-wrap: inherit;
    }

    span, button {
      padding: 7px 15px;
      display: inline-block;
      background-color: rgba(#fff, .05);
      border-radius: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 14px;
    }

    button {
      min-width: 50px;
      margin-top: 0;
      margin-left: 0;

      i {
        float: none;
        margin-right: 0;
      }
    }

    span.name b {
      font-weight: normal;
      color: $color-main;
      position: relative;
      display: inline-block;

      &:after {
        content: '';
        display: inline-block;
        position: relative;
        height: 14px;
        width: 1px;
        background-color: rgba(#fff, .1);
        top: 2px;
        margin-left: 10px;
        margin-right: 5px;
      }
    }

    span.arrow {
      background: transparent;
      color: rgba(#fff, .3);
      padding: 8px 10px;
      padding-left: 12px;
      margin-right: 5px;
    }

    button.activity i {
      &.fa-plug { color: $color-green }
      &.fa-power-off { color: $color-red }
    }

    span.status {
      min-width: 35px;
      text-align: center;

      &.red { color: $color-red }
      &.green { color: $color-green }
    }

    span.transport {
      color: rgba(#fff, .4);
    }

    span.method {
      background-color: $color-main;
      color: $color-dark;
    }

    span.path {
      background-color: adjust-hue($color-main, -20);
      color: $color-dark;
    }

    span.time {
      width: 60px;
      text-align: center;
    }

    span.calls-count, span.name, span.time {
      color: rgba(#fff, .5);

      &.active {
        color: #fff;
      }

      i {
        opacity: .2;
        margin-right: 10px;
      }
    }

    span.pending {
      min-width: 35px;
      text-align: center;

      i:before { animation: pending 1s infinite }
    }

    span.separator, span.label {
      padding: 0 5px;
      color: rgba(#000, .3);
      font-size: 12px;
      margin-right: 0;
      margin-bottom: 0;
    }
    span.label {
      padding-left: 0;
    }

    span.handled-with {
      background-color: transparent;
      color: rgba(#fff, .3);
      margin-right: 0;
      padding: 7px 5px;

      span.handler-name {
        margin: 0;
        padding: 0;
        background-color: transparent;
        color: $color-main;
      }
      span.handler-name.red {
        color: $color-red;
      }
    }

    span.forward { background-color: $color-purple }
    span.error { background-color: darken($color-red, 10) }

    span.seed {
      background-color: $color-green;
      color: $color-dark;
    }

    span.cache {
      background-color: #fff;
      color: $color-dark;
    }
  }

  pre {
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;

    &.hidden {
      display: none;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
