div.panel {
  display: inline-block;
  border-radius: 5px;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  background-color: lighten($color-dark, 3);

  button { flex-shrink: 0 }

  & > p {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    color: rgba(#fff, .2);
    font-size: 14px;

    i { margin-right: 10px }
    i, span.title { color: rgba(#fff, .5) }
    span.description { margin-left: 10px }

    span.description:before {
      content: '—';
      margin-right: 10px;
    }
  }

  & > div.content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.width-XL {
    max-width: $container-width;
    width: calc(100% - 25px);
  }

  &.width-L {
    max-width: 680px;
    width: calc(50% - 25px);
  }

  &.width-M {
    max-width: 558px;
    width: calc(41.67% - 25px);
  }

  &.width-S {
    max-width: 445px;
    width: calc(33.33% - 25px);
  }

  &.width-XS {
    max-width: 325px;
    width: calc(25% - 25px);
  }

  &.height-S > div.content {
    min-height: 100px;
  }

  &.height-XS > div.content {
    min-height: 60px;
  }

  @media screen and (max-width: $screen-width-medium) {
    display: block;
    margin: auto;
    margin-bottom: 5px;

    width: calc(100% - 20px) !important;
    max-width: calc(100% - 20px) !important;
  }
}
