@keyframes rotating {
  0% {
    transform: scaleX(1);
    color: $color-main;
  }
  15% {
    color: lighten($color-dark, 10);
  }
  50% {
    transform: scaleX(-1);
    color: $color-main;
  }
  65% {
    color: lighten($color-dark, 10);
  }
}

section#analytics {
  div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: auto;

    i {
      font-size: 100px;
      color: $color-main;
      animation: rotating 2s infinite;
    }

    p {
      color: rgba(#fff, .4);
    }
  }
}
